<div class="logoSection" id="competLogo"></div>
<h2 class="ancre">Compétences</h2>

<div class="conteneur" id="compet">

  <aside id="macOS">
    <h3>Mac OS, ma malédiction d'enfant</h3>
    <p>D'aussi loin que je me souvienne, j'ai toujours eu la chance d'avoir un ordinateur à la maison ... mais c'était Mac OS à l'époque.
      Tu sais ce qu'il y avait comme jeu vidéo sur Mac ? Age of Empire II et les sims premiers du nom ...
      Du coup j'suis incollable sur la campagne de Ghengis Khan.</p>
  </aside>

  <article id="formations">
    <div class="content">
      <h3>Général</h3>
      <ul>
        <li>Anglais: Scolaire</li>
        <li>Permis A2 (moto): véhiculé</li>
        <li>Permis B</li>
      </ul>
    </div>

    <div class="content">
      <h3>Environnement de travail</h3>
      <ul>
        <li>Linux (Debian et Ubuntu) : Utilisation Quotidienne</li>
        <li>Atom : Utilisation Quotidienne</li>
        <li>Terminal : Niveau Scolaire</li>
        <li>Git et Github: Phase d'Apprentissage</li>
        <li>mais aussi: Trello, Slack, ...</li>
      </ul>
    </div>

    <div class="content" id="lang">
      <h3>Langages</h3>
      <ul>
        <li>HTML/CSS: Bon niveau</li>
        <li>(+Bootstrap)</li>
      </ul>
      <ul>
        <li>C: Bases Scolaires</li>
      </ul>
    </div>
  </article>

  <aside id="etudes">
    <div class="" id="educLogo"></div>
    <h3>Formations</h3>
    <ol>
      <li><em>2017</em>: Simplon.co - Web Dev Fullstack JS</li>
      <li><em>2016</em>: Openclassrooms - "Comprendre le web" et "Créer un site avec HTML/CSS"</li>
      <li><strong><em>2010</em>: Baccalauréat Général L</strong></li>
    </ol>
  </aside>
</div>
