<div class="logoSection" id="expLogo"></div>
<h2 class="ancre">Expériences</h2>

<div class="conteneur">
  <aside id="steam">
    <h3>SteamOnLinux</h3>
    <p>Le plus fun avec SteamOnLinux, c'est tous ces jeux qui ne fonctionnent pas de prime abord.
    Aller chercher les fichiers de configurations qui font tout foirer, c'est aussi du jeu.
    Et la satisfaction de réussir à les faire fonctionner ...
    T'as pas acheté un jeu, t'as acheté un problème, le jeu c'est juste la récompense de sa résolution.
    C'est rubik's cube mais avec une raison de le finir.</p>
  </aside>

  <article id="exp">
    <h3>Assistant d'éducation</h3>
      <ol>
        <li>(Collège B.Pascal, Plaisir 78)......01/09/2015 à 31/08/2016</li>
        <li>(Collège J.Jaurès, Clichy 92)......18/09/2012 à 31/08/2015</li>
      </ol>

      <p>Exercice quotidien de la gestion administrative avec les logiciels ENC92, Pronote et Excel. Ainsi
        évidemment que de l’encadrement, l’accompagnement éducatif, le tutorat personnalisé et la mise en
        œuvre d’atelier.
        Formations reçues: « Droit juridique des personnels » et « Comprendre et communiquer avec
        l’adolescent en difficulté ».</p>

    <h3>Contrat de Service Civique</h3>
      <ol>
        <li>(Côtes d'Armor)......1/10/2011 à 30/06/2012</li>
      </ol>

      <p>Au sein de la délégation départementale d’une structure associative, mise en œuvre et coordination
        d’événements visant à sensibiliser bénévoles et grand public aux actions menées par l’association à
        l’internationale.
        Tutorat de stagiaire lycéen.</p>
  </article>

  <aside id="ipsum">
    <h3>Révélation</h3>
    <p>Surveillant, c'est limité comme emploi d'avenir ... il fallait trouver autre chose. Et tandis que j'étais en permanence à lire un livre du site du zéro, ça devenait clair: "Et si je faisais ce que j'aime ?"</p>
  </aside>
</div>
