<div class="logoSection" id="restLogo"></div>
<h2 class="ancre">Centres d'intérêts</h2>

<div class="loisir" id="road-trip">
  <h3>ROAD TRIP</h3>
  <p>principalement en moto : découverte d’histoires et de cultures étrangères, échanges,
perte de repères – Genova, Italie – Bilbao, Espagne – Andalousie, Espagne.</p>
</div>

<div class="loisir" id="histoire">
  <h3>HISTOIRE</h3>
  <p>notamment l’histoire politique, les transitions de régimes, d’idéologies.</p>
</div>

<div class="loisir" id="jv">
  <h3>JEUX VIDEOS</h3>
  <p>dont particulièrement Crusader Kings II (Grande stratégie, jeu complet et réaliste sur la
gestion de domaines aux moyen âge), This War of Mine (Gestion de survie, jeu de guerre pesant où
l’on joue des civils), Baldur’s Gate II (RPG fantastique à l’univers riche) ou Verdun (FPS historique 1ere
Guerre Mondiale).</p>
</div>

<div class="loisir" id="culture">
  <h3>CULTURE GENERAL</h3>
  <p>particulièrement aux travers de vulgarisateurs youtube tels que Nota Bene,
Science Etonnante ou Linguisticae.</p>
</div>
