.loisir{
  width: 100vw;
  padding: 0;
  padding-bottom: 40px;
}

.loisir p{
  margin: 0 10px 0 10px;
}

.loisir h3{
  text-align: center;
}

#road-trip{
  float: none;
  margin-left: 0;
  border-bottom: none;
}

#jv{
  margin: auto;
  margin-top: 0;
  border-bottom: none;
}

#histoire{
  float: none;
  margin-top: 0;
  margin-right: 0;
  border-bottom: none;
}

#culture{
  float: none;
  margin-top: 0;
  margin-left: 0;
  border-bottom: none;
}