@media screen and (max-width: 1024px)
{
  /*GENERAL*/

  header{
    min-height: 0;
    height: 50vh;
    min-height: 216.5px;
  }

  section{
    display: block;
    height: auto;
  }

  .ancre{
    /*Titres h2 de section centrés et marge supérieure*/
    font-size: 30px;
    width: 200px;
    margin: auto;
  }


  /*STRUCTURE DES SECTIONS AVEC FLEX*/
  .logoSection{
    height: 1.5em;
    width: 1.5em;
  }

  .conteneur{
    /*Les conteneurs servent à flex, marge supérieure pour décoller du titre de section*/
    padding-top: 2vh;
    display: block;
  }

  article{
    min-height: 0;
    width: 100vw;
    height: auto;
    padding: 10% 0 10% 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }

  article h3{
  font-size: 20px;
  }

  aside{
    display: none;
  }


  /*MENU NAVIGATION*/
  nav{
    position: static;
    min-height: 216.5px;
    height: 50vh;
  }

  nav ul{
    /*Centre arbitrairement la liste en décallant sa marge haute et mise en ligne*/
    margin-top: 0;
    flex-direction: column;
}

  nav ul li{
    height: 40px;
    border-bottom: 1px solid black;
    font-size: 20px;
    font-weight: bold;
  }

  #menuquerie{
    display: none;
  }


  /*SECTION TITRE*/

  #logo{
    /*Logo est une image*/
    height: 6em;
    width: 6em;
  }

  header h1{
    /*Taille arbitraire du h1*/
    font-size: 40px;
  }

  header h2{
    /*Taille particulière du h2 de header et séparateur*/
    font-size: 20px;
  }


  /*SECTION COMPETENCES*/

  #competences{
    min-height: 512px;
  }

  #formations{
    /*Contenu de l'article aligné et centré avec flex et bordure verte*/
    flex-direction: column;
    border: none;
    border-bottom: none;
    border-top: 1px solid green;
  }

  #formations .content{
    /*Taille arbitraire des 3 contenus d'article et ... à travailler*/
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #formations .content ul{
    display: flex;
    flex-direction: column;
    align-items: center;
 }

  #educLogo{
    height: 3em;
    width: 3em;
    margin: auto;
    background: url('assets/images/etude.png');
    background-size: cover;
  }

  #etudes{
    /*On change certaine propriété d'aside pour cette partie un peu particulière liée à
    la formation: police, padding moins important, couleur bleu, angles plus brossés, pas de bordure
    et un positionnement supérieure à son positionnement flex grâce à la marge supérieure négative*/
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid green;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding-bottom: 10%;
  }

  #etudes h3{
    /*Mise en avant de la police formation*/
    font-size: 1.3em;
  }

  #etudes li{
    /*On décole la ligne de la précédente*/
    margin-top: 10px;
  }

  #lang > *{
    /*On veut décoller l'aside de droite de celui du centre mais à cause de flex, on préfère
    tricher et décoller simplement le contenu de cet aside*/
    margin-left: 0;
  }


  /*SECTION EXPERIENCE*/
  #exp{
    /*bordure inférieure bleue*/
    border-bottom: 1px solid blue;
    border-top: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #exp li{
    width: 90%;
    margin: auto;
    padding-top: 10px;
  }

  #exp p{
    width: 90%;
    padding-top: 5px;
  }

  #reste .ancre{
    width: 280px;
  }

  /*SECTION RESTE*/


  .loisir{
    /*Ces div particulières prennent des propriétés particulières:
    longueur arbitraire, blanches, contenu décollé de bordure, angles brossés*/
    width: 100%;
    padding: 10px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }

  .loisir h3{
    /*Caractères plus gros qu'un aside, plus petit qu'un article*/
    font-size: 1em;
  }

  .loisir p{
    /*Caractères plus gros qu'un aside, plus petit qu'un article*/
    font-size: 0.9em;
  }

  #jv{
    /*Positionnement de la div centrale qui permettra de faire graviter les autres autours*/
    float: none;
    margin-top: 0;
    margin-right: 0;
    border-bottom: none;
  }

  #road-trip{
    /*positionnement arbitraire avec float et marges*/
    float: none;
    margin-top: 0;
    margin-left: 0;
    border-top: 1px solid red;
    border-bottom: none;
    margin-top: 2vh;
  }

  #histoire{
    /*positionnement arbitraire avec float et marges*/
    float: none;
    margin-top: 0;
    margin-right: 0;
    border-bottom: none;
  }

  #culture{
    /*positionnement arbitraire avec float et marges*/
    float: none;
    margin-top: 0;
    margin-left: 0;
    border-bottom: 1px solid red;
  }


  /*SECTION FOOTER*/
  footer{
    /*Le footer fait 1/20e de fenêtre, son contenu est aligné et centré avec flex*/
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(130, 128, 130);
  }

  footer span{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer a{
    /*A la différence des autres liens, ceux du footer sont en gras*/
    font-weight: bold;
}
